Dobar dan {{ime_prezime}},

tražimo smještaj, za dva noćenja, u periodu od ponedjeljka (27.7.2020.) do nedjelje (2.8.2020.) za četiri osobe.
Možete li nam poslati cijenu noćenja, slike, lokaciju apartmana te raspored soba i kreveta?
Hvala unaprijed!

Srdačan pozdrav,
Jasmin Makaj